<div class="container">		
	<div class="row">
		<div class="panel panel-default center-contents padding-10 generic mgn-top-1 mgn-left-80 " >
			<span><%= image_tag "conner.jpg", {class: "usr-img"} %><!--img class="usr-img" src="/assets/images/conner.jpg" /--> Conner McCabe</span>
			<span style="color: #fff">| <a href="#">Logout</a></span>
		</div>
	</div>			
	<div class="row">
		<div class="col-md-3 panel panel-default center-contents padding-10 mgn-top-5 generic">
			<img class="logo-cont" src="/assets/logo.png" />
			<nav class="navbar navbar-inverse padding-1" role="navigation">
				<ul class="nav navbar-nav" >
				  	<li class="active">
					    <a  href="/">
					        Dashboard
					    </a>
					</li><br />
					<li>
					    <a href="/profile">
					        Profile
					    </a>
					</li><br />
					<li>
					    <a href="/myclients">
					        My Clients
					    </a>
					</li><br />
					<li>
					    <a href="/fas">
					        FA's
					    </a>
					</li><br />
					<li>
					    <a  href="/meetings">
					        Meetings
					    </a>
					</li><br />
					<li>
					    <a href="/calendar">
					        Calendar
					    </a>
					</li><br />
					<li>
					    <a href="/settings">
					        Settings
					    </a>
					</li><br />
				</ul>

			</nav>
			Copyright © Halwa-Systems 2014
		</div>
		<div class="col-md-9 panel panel-default padding-10 mgn-top-5 standard-height generic">
			<div class="header"><h3>Dashboard</h3></div>
			<img class="dash-img" src="/img/graph.png">
		</div>
	</div>
</div>