<div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                Dashboard
                            </li>
                            
                        </ol>
                    </div>
                </div>



<div class="row">
<div class="col-xs-12 col-md-6 container-fluid panel-default">
	
	
    <div class="panel panel-primary no-curve">
        <div class="panel-heading clearfix no-curve">
            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Next Meeting</h4>
                    </div>
        <div class="panel-body">
            Panel content
        </div>
    </div>



<div class="panel panel-primary no-curve">
        <div class="panel-heading clearfix no-curve">
            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Search Clients</h4>
                <div class="input-group col-md-offset-6 col-xs-offset-8">
                    <input id="Special" type="text" class="form-control no-curve" placeholder="Search">
                    <div class="input-group-btn no-curve">
                        <button class="btn btn-primary no-curve"><i class="glyphicon glyphicon-search"></i></button>
                        
                    </div>
                </div>
        </div>
        <div class="panel-body">
            Panel content
        </div>
    </div>

</div> 



<div class="col-xs-12 col-md-6 container-fluid panel-default">
	
	<div class="panel panel-primary no-curve">
        <div class="panel-heading clearfix no-curve">
            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Search Companies</h4>
                <div class="input-group col-md-offset-6 col-xs-offset-8">
                    <input id="Special" type="text" class="form-control no-curve" placeholder="Search">
                    <div class="input-group-btn">
                        <button class="btn btn-primary no-curve"><i class="glyphicon glyphicon-search"></i></button>
                        
                    </div>
                </div>
        </div>
        <div class="panel-body">
            Panel content
        </div>
    </div>
 

	<div class="panel panel-primary no-curve">
        <div class="panel-heading clearfix no-curve">
            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Current Memos</h4>
                
        </div>
        <div class="panel-body">
            Panel content
        </div>
    </div><!-- end of the second column -->



</div> <!-- end of row -->


