<div class="col-md-9 panel panel-default padding-10 mgn-top-5 standard-height generic">
	<div class="header"><h3>Dashboard</h3></div>
	<% @data.each do |e| %>
		<% @high[e.trade_date] = e.high %>
		<% @low[e.trade_date] = e.low %>
		<% @open[e.trade_date] = e.open %>
	<% end %>

	<% @info_array = ["High", @high, "Low", @low, "Open", @open] %>

	Google (GOOG):
	<%= line_chart (0..2).map {|e| { name: @info_array[e*2], data: @info_array[e*2+1]}}, 
	min:500, 
	colors:["#6600FF", "#FF0066", "#66CCFF"],
	library: 
	{
			backgroundColor: "#000006", 
			legend: 
				{
				textStyle:{color: "#dadada"}
				}
	 }%>
</div> 