<div class="wrapper-login ">
  <img class="center-block" style="max-width:400px; margin-top: -7px;" src="/assets/logoheadwhite.png"></a>
    <%= form_for :user, url: "/sessions/create", :html => { :class =>
'form-signin' } do |f| %>   
    <form class="form-signin">   
      
      <h2 class="form-signin-heading">Login</h2>
      

  

      <div class="input-group margin-bottom-sm">
        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
      <%= f.text_field :email, placeholder: "Email", required: "", type: "text", class: "form-control"  %>
        </div>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
      <%= f.password_field :password, placeholder: "Password", required: "", type: "password", class: "form-control"  %>
    </div>
      <hr>     
      
      <%= f.submit "Sign In", class: "btn btn-lg btn-green center-block" %>   
    </form>
    <% end %>
  </div>
    
