<h1>Meeting Details</h1>

	<p>
		Subject: <%= @meeting.meeting_subject %> <br/>
		Date: <%= @meeting.meeting_date %> <br/>
		Client: <%= @meeting.client_name %> <br/>
		Meeting Description: <%= @meeting.meeting_description %>
	</p>
		
