/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.portfolio-img {
	border: 4px solid #dadada;
	box-shadow: 1px 2px 4px #0c0c0c;
	margin-left: 12.5%;
	margin-right: 12.5%;
}
.no-padding {
	padding: 0 0 0 0;
}
.icon-tiny {
	width: 15px;
	height: auto;
}
.meetings-table {
	border-radius: 5px;
	background: #DADADA;
	color: #0c0c0c;
}
.meetings-table tr{
	border-bottom: 1px solid #0c0c0c;
	padding: 10px 0px 10px 0px;
}

.navbar .container { height: 2em; }
.icon-small {
	width: 25px;
	height: auto;
}
.icon-medium {
	width: 45px;
	height: auto;
}
.icon-large {
	width: 70px;
	height: auto;
}
.small-img {
	width: 25%;
	height: auto;
}
.medium-img {
	width: 50%;
	height: auto;
}
.large-img {
	width: 75%;
	height: auto;
}
.standard-height {
	height: 20%;
}
.max-img {
	width: 100%;
	height: auto;
}
.mgn-top-1 {
	margin-top: 1%;
}
.mgn-top-5 {
	margin-top: 5%;
}
.mgn-top-10 {
	margin-top: 10%;
}
.mgn-top-15 {
	margin-top: 15%;
}
.mgn-top-20 {
	margin-top: 20%;
}
.mgn-top-25 {
	margin-top: 25%;
}
.mgn-top-30 {
	margin-top: 30%;
}
.mgn-top-35 {
	margin-top: 35%;
}
.mgn-top-40 {
	margin-top: 40%;
}
.mgn-top-45 {
	margin-top: 45%;
}
.mgn-top-50 {
	margin-top: 50%;
}
.mgn-top-75 {
	margin-top: 75%;
}
.mgn-top-100 {
	margin-top: 100%;
}
.mgn-bottom-1 {
	margin-bottom: 1%;
}
.mgn-bottom-5 {
	margin-bottom: 5%;
}
.mgn-bottom-10 {
	margin-bottom: 10%;
}
.mgn-bottom-15 {
	margin-bottom: 15%;
}
.mgn-bottom-20 {
	margin-bottom: 20%;
}
.mgn-bottom-25 {
	margin-bottom: 25%;
}
.mgn-bottom-30 {
	margin-bottom: 30%;
}
.mgn-bottom-35 {
	margin-bottom: 35%;
}
.mgn-bottom-40 {
	margin-bottom: 40%;
}
.mgn-bottom-45 {
	margin-bottom: 45%;
}
.mgn-bottom-50 {
	margin-bottom: 50%;
}
.mgn-bottom-75 {
	margin-bottom: 75%;
}
.mgn-bottom-100 {
	margin-bottom: 100%;
}
.mgn-left-10 {
	margin-left: 10%;
}
.mgn-left-15 {
	margin-left: 15%;
}
.mgn-left-20 {
	margin-left: 20%;
}
.mgn-left-25 {
	margin-left: 25%;
}
.mgn-left-30 {
	margin-left: 30%;
}
.mgn-left-35 {
	margin-left: 35%;
}
.mgn-left-40 {
	margin-left: 40%;
}
.mgn-left-45 {
	margin-left: 45%;
}
.mgn-left-50 {
	margin-left: 50%;
}
.mgn-left-55 {
	margin-left: 55%;
}
.mgn-left-60 {
	margin-left: 60%;
}
.mgn-left-65 {
	margin-left: 65%;
}
.mgn-left-70 {
	margin-left: 70%;
}
.mgn-left-75 {
	margin-left: 75%;
}
.mgn-left-80 {
	margin-left: 80%;
}
.mgn-left-85 {
	margin-left: 85%;
}
.mgn-left-90 {
	margin-left: 90%;
}
.mgn-left-95 {
	margin-left: 95%;
}
.mgn-left-100 {
	margin-left: 100%;
}

.align-center {
	margin-left: auto;
	margin-right: auto;
}
.center-contents {
	text-align: center;
}
.padding-1 {
	padding: 1px;
}
.padding-2 {
	padding: 2px;
}
.padding-3 {
	padding: 3px;
}
.padding-4 {
	padding: 4px;
}
.padding-5 {
	padding: 5px;
}
.padding-6 {
	padding: 6px;
}
.padding-7 {
	padding: 7px;
}
.padding-8 {
	padding: 8px;
}
.padding-9 {
	padding: 9px;
}
.padding-10 {
	padding: 10px;
}
.padding-20 {
	padding: 20px;
}
.padding-40 {
	padding: 40px;
}

#main {
	background-color: #000006;
}
.logo-cont {
	margin-top: -25px;
	width: 100%;
	height: auto;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
.generic {
	background-color: #000006;
}
.panel-default {
	color: #dadada;
	border: 1px solid #717171;
	box-shadow: 2px 1px 3px #0c0c0c;
}
.header {
	border-bottom: 4px solid #dadada;
	padding: 4px;
	margin: 5px;
	margin-bottom: 20px;
}
h3 {
	color: #dadada;
}
.dash-img {
	width: 100%;
	height: auto;
}
.navbar-nav {
	width: 100%;
}
.navbar-nav li {
	width: 100%;
	text-align: left;
}
li {
	width: 100%;
}
.usr-img {
	width: 30px;
	height: auto;
}

.grey {

	background: #999999;
	color: #fff;
}

.details {

	background: #999999;
	color: #fff;
}
html {
        width:100%;
        height: 100%;
}

body {
        margin:0;
        padding:0;
        width:100%;
        height:100%;
        background-color: #000006;
        
        
}

.pagination {
	background: #dadada;
}
.pagination li a {
	background-color: #ecf0f1 !important;
    color: #2d525d !important;
}
.shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
   border-radius: 5px;
}
.shadow-container {
	z-index: -1;
	position: fixed;
	height: 100%;
	width: 100%;
	background-image: url(http://mycolorscreen.com/wp-content/uploads/wallpapers_2012/267578/2048x1536.jpg);
	background-repeat: no-repeat;
    background-size: 150% 150%;
    background-position: center center;
	box-shadow  : inset 0px 0px 125px 75px rgba(0,0,0,0.6);
}

.mgn-10 {
	margin: 10px;
}
h5 {
	border-bottom: 2px solid #fff;
}
.container {
	margin-left: 12%;
	margin-right: 12%;
	width: 76%;
}